/* stylelint-disable at-rule-no-unknown */

/* stylelint-disable at-rule-semicolon-space-before */

@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

