:root{
  --main: #333333;
  --secondary: #eaeaea;
  --tertiary: #666A86;
  --quaternary: #95B8D1;
  --quinary: #E8DDB5;
  --senary: #EDAFB8;
}

body{
  background-color: var(--main);
  color: var(--secondary);
}

.App{
  .Render{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    align-items: center;
    align-content: center;
  }
}